body{
}

h1{
    text-align: center;
}
.sticky-box {
    position: sticky;
    top: 50px; /* Adjust the top position as needed */
    background-color: rgb(170, 58, 58);
    padding: 20px;
    /* Add any other styles you want for the sticky box */
  }

select {
    width: 200px;
    height:50px;
    background-color: blueviolet;

  }

.outcome{
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: bisque;
    float:right;
    
}

.button {
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: brown; */
    display: block;
    clear: both;

}
.project-detail{
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: aquamarine;
    float:left;
}


